name: DCO Check

on:
    pull_request:
        branches: [main]

permissions:
    contents: read
    pull-requests: read

jobs:
    dco:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - name: DCO Check
              uses: tisonkun/actions-dco@v2
