name: Build and Release Docker Image

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Docker-hub account login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract release tag
        id: meta
        run: echo "version=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/nexumdb:latest
            ${{ secrets.DOCKER_USERNAME }}/nexumdb:${{ steps.meta.outputs.version }}
            ${{ secrets.DOCKER_USERNAME }}/nexumdb:${{ github.sha }}
          cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/nexumdb:buildcache
          cache-to: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/nexumdb:buildcache,mode=max
